output {
        elasticsearch {
            hosts    => "https://localhost:9200"
            index    => "websrv-%{+YYYY.MM}"
	    user => "kibana_system"
	    password => "{{ elastic_server_password }}"
	    cacert => "/etc/logstash/certs/http_ca.crt"
        }
}
